.container {
  background-color: #E5E5E5;
}

.card,
.school,
.mask,
.blm,
.vaccine,
.voting,
.reproductive,
.healthcare,
.social,
.climate,
.gun,
.election
 {
  height: 22vh;
  width: 22vw;
  margin: 1rem;
  margin-bottom: 3.5rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: center;
  color: white;
  text-decoration: none;
  border: 1px solid #eaeaea;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.school {
  background-image: url('/reopening-schools.jpg');
  background-size: cover;
  filter:  grayscale(80%)
}

.school:hover,
.school:focus,
.school:active {
  border-color: black;
}

.mask {
  background-image: url('/masks.jpg');
  background-size: cover;
  filter:  grayscale(80%)
}

.mask:hover,
.mask:focus,
.mask:active {
  border-color: black;
}

.blm {
  background-image: url('/blm.jpg');
  background-size: cover;
  filter:  grayscale(80%)
}

.blm:hover,
.blm:focus,
.blm:active {
  border-color: black;
}

.vaccine {
  background-image: url('/vaccine.jpg');
  background-size: cover;
  filter:  grayscale(80%)
}

.vaccine:hover,
.vaccine:focus,
.vaccine:active {
  border-color: black;
}

.voting {
  background-image: url('/voting.jpg');
  background-size: cover;
  filter:  grayscale(80%)
}

.voting:hover,
.voting:focus,
.voting:active {
  border-color: black;
}

.reproductive {
  background-image: url('/reproductive-rights.jpg');
  background-size: cover;
  filter:  grayscale(80%)
}

.reproductive:hover,
.reproductive:focus,
.reproductive:active {
  border-color: black;
}

.healthcare {
  background-image: url('/healthcare.jpg');
  background-size: cover;
  filter:  grayscale(80%)
}

.healthcare:hover,
.healthcare:focus,
.healthcare:active {
  border-color: black;
}

.social {
  background-image: url('/social-disparity.jpg');
  background-size: cover;
  filter:  grayscale(80%)
}

.social:hover,
.social:focus,
.social:active {
  border-color: black;
}

.climate {
  background-image: url('/climate-science.jpg');
  background-size: cover;
  filter:  grayscale(80%)
}

.climate:hover,
.climate:focus,
.climate:active {
  border-color: black;
}

.gun {
  background-image: url('/gun-rights.jpg');
  background-size: cover;
  filter:  grayscale(80%)
}

.gun:hover,
.gun:focus,
.gun:active {
  border-color: black;
}

.election {
  background-image: url('/election.jpg');
  background-size: cover;
  filter:  grayscale(80%)
}

.election:hover,
.election:focus,
.election:active {
  border-color: black;
}

.firstMessage,
.secondMessage {
  height: 5vh;
  margin-bottom: 3vh;
  line-height: 5vh;
  width: 20vw;
  margin-right: 30vw;
  display: none;
  background-color: #ADD8E6;
  border-radius: 5%;
  color: white;
  text-align: center;
}

.botResponse {
  height: 5vh;
  margin-bottom: 3vh;
  margin-left: 30vw;
  width: 30vw;
  display: block;
  background-color: #3DDC84;
  border-radius: 5%;
  color: white;
  text-align: center;
  justify-content: start;
  word-wrap: wrap;
  margin-top: 5vw;
}

.botResponseTwo {
  height: 5vh;
  margin-bottom: 3vh;
  margin-left: 30vw;
  width: 30vw;
  display: none;
  background-color: #3DDC84;
  border-radius: 5%;
  color: white;
  text-align: center;
  justify-content: start;
  word-wrap: wrap;
}

.participants,
.participants img {
  margin-bottom: 2vh;
  height: 55px;
  width: 55px;
  border-radius: 50%;
  object-fit: cover;
  margin-top: 2vh;
}

.chatbox {
  width: 20vw;
  padding: 10px;
}

@media (max-width: 600px) {
  .grid {
    width: 80%;
    flex-direction: column;
  }
}

